.page-bg {
  min-height: 100vh;
  background: #eaf3f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;

  background-image: url("/left-line-art.png"), url("/right-line-art.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 420px, 420px;
}

/* Logo */
.logo-text {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #5a5df0, #d257ff, #4bb4ff);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

/* Tabs */
.tabs-wrapper {
  display: flex;
  background-color: #e5e5e5;
  border-radius: 999px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 450px;
  justify-content: space-between;
}

.tab-btn {
  flex: 1;
  padding: 10px 0;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.tab-btn.active {
  background: #ffffff;
  color: black;
}

.tab-btn.inactive {
  background: transparent;
  color: #777;
}

/* Form card */
.form-card {
  width: 440px;
  background: white;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.form-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
}

/* Input group */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 14px;
}

.input-group span {
  margin-bottom: 6px;
  font-weight: 500;
}

.input-group input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #cfcfcf;
  outline: none;
  font-size: 14px;
  background: #f7f7f7;
}

.input-group input:focus {
  border-color: #1b73e8;
}

/* Two-column row */
.row {
  display: flex;
  gap: 33px;
}

/* Button */
.primary-btn {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.divider {
  text-align: center;
  margin: 15px 0;
  font-weight: 600;
  color: #666;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 600;
}

.google-icon {
  width: 20px;
  height: 20px;
}
